<!DOCTYPE html>
<html>
<head>
    <title>班级列表</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href="/stylesheets/index-theme.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/easyUI/themes/metro/easyui.css">
    <link rel="stylesheet" type="text/css" href="/easyUI/themes/icon.css">
    <style type="text/css">

    </style>
    <script type="text/javascript" src="/javascripts/jquery.js"> </script>
    <!-- // <script src="/javascripts/jquery.min.js" type="text/javascript"></script>  -->
    <script type="text/javascript" src="/easyUI/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/easyUI/locale/easyui-lang-zh_CN.js"></script>
    <script src="/javascripts/tools.js" type="text/javascript"></script>  
</head>
<body>
    <h2 class="main_page_title">班级列表</h2>
    <div class="demo-info">
        <div class="demo-tip icon-tip"></div>
        <div></div>
    </div>
    <div style="margin:10px 0;"></div>
    

    <div id="tb">
        <a href="#" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="refresh_grid()">刷新</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="setStatusOk()">审查通过</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="deleteRows()">删除</a>
        <!-- <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="test()">测试</a>         -->
    </div>
    <table id = "grid1"></table>

    <script type="text/javascript">
    var toolbar = $('#tb');
    var grid1 = $('#grid1');

    $(function(){
            $('#grid1').datagrid({
                title:'列表',
                iconCls:'icon-edit',
                width:'auto',
                height:'auto',
                fitColumns:true,
                singleSelect:true,
                idField:'classID',
                toolbar: '#tb',
                url:'/classList',
                columns:[[
                    {field:'status',title:'审查状态',width:60,align:'center',
                        editor:{
                            type:'text',
                            options:{
                                required:true
                            }
                        },
                        formatter:function(value){
                            if(value == 'true') return '通过';
                            return '审查中';
                        }
                    },                
                    {field:'classID',title:'账号ID',width:60,align:'center',
                        editor:{
                            type:'text',
                            options:{
                                required:true
                            }
                        }
                    },

                    {field:'ghRegName',title:'注册名称',width:80,align:'center',
                        editor:{
                            type:'text',
                            options:{
                                required:true
                            }
                        }
                    },

                    {field:'ghName',title:'使用名称',width:80,align:'center',
                        editor:{
                            type:'text',
                            options:{
                                required:true
                            }
                        }
                    },

                    {field:'tip',title:'课堂说明',width:80,align:'center',
                        editor:{
                            type:'text',
                            options:{
                                required:true
                            }
                        }
                    },

                    {field:'creator',title:'创建人',width:80,align:'center',
                        editor:{
                            type:'text',
                            options:{
                                required:true
                            }
                        }
                    }
                ]]
            });
        });

    function updateActions(index){
        grid1.datagrid('updateRow',{
            index: index,
            row:{}
        });
    }
    function getRowIndex(target){
        var tr = $(target).closest('tr.datagrid-row');
        return parseInt(tr.attr('datagrid-row-index'));
    }
    function editrow(target){
        grid1.datagrid('beginEdit', getRowIndex(target));
    }

    function setStatusOk(target)
    {
        $.messager.confirm('确认','确定审查通过吗？',function(r){
            if (r){
                var rows = grid1.datagrid('getSelections');
                if(rows.length > 0){
                    var json = {classID: rows[0].classID, status: 'true'};
                    $.ajax({
                        url: "/setClassStatusOk",
                        data: json,
                        type: "post",
                        success: function (text) {
                            if(text == "ok"){
                                $.messager.alert('提示','操作成功！','info');
                            }
                            else{
                                $.messager.alert('提示','操作出现异常！','info');
                            }
                            refresh_grid();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(jqXHR.responseText);
                            refresh_grid();
                        }
                    });                
                }
            }
        });   
    }

    function refresh_grid(){
        grid1.datagrid('reload');
    }        

    function deleteRows()
    {
        $.messager.confirm('确认','删除该信息将无法恢复，确定删除吗？',function(r){
            if (r){
                var rows = grid1.datagrid('getSelections');
                if(rows.length > 0){
                    var json = {classID: rows[0].classID};
                    $.ajax({
                        url: "/deleteClass",
                        data: json,
                        type: "post",
                        success: function (text) {
                            if(text == "ok") {
                                $.messager.alert('提示','操作成功！','info');
                            }
                            else {
                                $.messager.alert('提示','操作出现异常！','info');
                            }
                            refresh_grid();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(jqXHR.responseText);
                            refresh_grid();
                        }
                    });                
                }

            }
        });     
    }   
  
    </script>
    <div class="description">
        <h3>说明</h3>
        <p>审查和删除班级</p>
    </div>


 
</body>
</html>