<!DOCTYPE html>
<html>
<head>
<title>课堂申请</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">    
<style type="text/css">
	.help-block{
		padding-top: 2px; color: rgba(128,128,128,0.7);
	}
</style>
<script type="text/javascript" language="javascript" src="/javascripts/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/underscore.js"></script>
<script type="text/javascript" src="/javascripts/tools.js"></script>
<script type="text/javascript">
	 $(document).ready(function() {
		$(document).keydown(function(event){ 
			console.log(event.keyCode);
			if(event.keyCode == 13){//return key
				login();
			} 
		}); 
	 });
	 function login(){
	 	var txtClassID = $('#txtClassID')[0].value;
	 	var txtghRegName = $('#txtghRegName')[0].value;
	 	var txtghName = $('#txtghName')[0].value;
	 	var txtTip = $('#txtTip')[0].value;
	 	var txtCreator = $('#txtCreator')[0].value;
	 	var proList = [txtClassID, txtghRegName, txtghName, txtTip, txtCreator];
	 	if(!_.every(proList, function(_pro){
	 		return _pro != null && _pro.length > 0;
	 	})){
	 		alert('内容填写不完整，请检查！');
	 		return;
	 	}

	 	console.log('txtClassID => ' + txtClassID);
	 	console.log('txtghRegName => ' + txtghRegName);
	 	var obj = {classID: txtClassID, ghRegName: txtghRegName, ghName: txtghName, tip: txtTip, creator: txtCreator};
		var url = "/classApply";
        $.post(url, obj, function(data){
            if(data != ''){
                console.log(data);

            	if(data == 'ok'){
            		console.log('apply success');
            		alert('申请信息提交成功，将返回申请页面。')
            		//top.location.href = get_host_url() + "/classManage";
            		top.location.href = "/classApplyIndex";
            	}else{
            		console.log('apply failed');
            		alert('申请失败，请重试或者咨询系统管理员！');
            	}
            }
        });  
	 }
</script>
</head>
<body style="background-color: rgb(249,249,249);">
	<div style="height: 80px;"></div>
	<div class="container" id = "container" style="margin-bottom: 30px;">
	  <div class="row">
	    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
	        <div style="font-size: 30px; color: rgb(66,139,202);">课堂申请</div>
	    </div>
	  </div>
	</div>

	<div class="container" id="tile_container" style="margin-bottom:80px;">
		<form class="form-horizontal" role="form">
		  <div class="form-group">
		    <div class="col-xs-1 col-sm-2 col-md-4 col-lg-4"></div>
		    <div class="col-xs-10 col-sm-8 col-md-4 col-lg-4">
		      <input type="text" class="form-control" id="txtClassID" placeholder="注册号" value="">
		    </div>
		    <p class="help-block" id="lblTip" style="">微信平台申请的注册号</p>
		  </div>
		  <div class="form-group">
		    <div class="col-xs-1 col-sm-2 col-md-4 col-lg-4"></div>
		    <div class="col-xs-10 col-sm-8 col-md-4 col-lg-4">
		      <input type="text" class="form-control" id="txtghRegName" placeholder="注册名称">
		    </div>
		    <p class="help-block" id="lblTip" style="">微信平台的注册名称</p>
		  </div>
		  <div class="form-group">
		    <div class="col-xs-1 col-sm-2 col-md-4 col-lg-4"></div>
		    <div class="col-xs-10 col-sm-8 col-md-4 col-lg-4">
		      <input type="text" class="form-control" id="txtghName" placeholder="课堂名称">
		    </div>
		    <p class="help-block" id="lblTip" style="">自己使用的名称</p>
		  </div>
		  <div class="form-group">
		    <div class="col-xs-1 col-sm-2 col-md-4 col-lg-4"></div>
		    <div class="col-xs-10 col-sm-8 col-md-4 col-lg-4">
		      <input type="text" class="form-control" id="txtTip" placeholder="说明">
		    </div>
		    <p class="help-block" id="lblTip" style="">对课堂的简单说明</p>
		  </div>
		  <div class="form-group">
		    <div class="col-xs-1 col-sm-2 col-md-4 col-lg-4"></div>
		    <div class="col-xs-10 col-sm-8 col-md-4 col-lg-4">
		      <input type="text" class="form-control" id="txtCreator" placeholder="创建人">
		    </div>
		    <p class="help-block" id="lblTip" style=""></p>
		  </div>
		</form>	
	    <div class="col-xs-1 col-sm-2 col-md-4 col-lg-4"></div>
	    <div class="col-xs-10 col-sm-8 col-md-4 col-lg-4" style="padding-left: 8px; padding-right: 8px;margin-top: 35px;">
			<button type="button" class="btn btn-primary btn-lg btn-block" onclick="login()">申请</button>
	    </div>
	</div>


	<div class= "container">
	  <div class="row">
	    <div class="col-xs-0 col-sm-1 col-md-3 col-lg-3"></div>
	    <div class="col-xs-12 col-sm-10 col-md-6 col-lg-6" style="text-align: center;margin-bottom: 20px;margin-top: 30px;">
			<div style="height:2px; background-color: rgb(200,200,200); "></div>
	    </div>
	  </div>
	</div>
</body>
</html>
