
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>登录</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">

  <!-- Site CSS -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">    
    <link href="/stylesheets/site.min.css" rel="stylesheet" media="screen">    
    <style type="text/css">
    .userBox{
      width:300px;height:150px;background-color: rgb(0,173,125);
    }
    .userBoxName{
      color: white; font-size: 28px; padding-top: 55px;
    }
    </style>

  <!-- Favicons -->
  <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://static.bootcss.com/www/assets/ico/apple-touch-icon-144-precomposed.png"> -->
  <!-- <link rel="shortcut icon" href="http://static.bootcss.com/www/assets/ico/favicon.png"> -->
    <script type="text/javascript" src = "/javascripts/jquery.js"></script>
    <script type="text/javascript" src = "/javascripts/underscore.js"></script>

  <script>
    var _hmt = _hmt || [];
    var users = [];

    $(document).ready(function(){
        $.get('/userList4Login', function(data){
          try{
            users = JSON.parse(data);
            appendUsers();
          }catch(err){
            console.error('get data error');
          }
        })
    });
    function tryLogin(ghName){
      // alert(ghName);
      console.log(ghName + 'try to login');

    }
    function appendUsers(){
      _.each(users, function(_user){
          var ele =
          ' <div class="col-sm-6 col-md-4 " id="'+ _user.ghRegName +'">'+
              '<div class="thumbnail">' +
                '<div class="userBox" style="">' +
                  '<div class="userBoxName" style= "">'+ _user.ghRegName +'</div>'+
                '</div>'+
                '<div class="caption">'+
                  '<h3> '+
                    '<a>'+ _user.creator +'</a>'+
                  '</h3>'+
                '</div>'+
              '</div>'+
            '</div>';

          $('#row_container').append(ele);

          $('#'+_user.ghRegName).click(function(){
            tryLogin(_user.ghRegName);
            // alert(_user.ghRegName);
          });          
      });
    }
  </script>
<body>



    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand hidden-sm" href="/">Bootstrap中文网</a> -->
        </div>
        <div class="navbar-collapse collapse">

        </div>
      </div>
    </div>


<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators 
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol> -->
      <div class="carousel-inner">
        <div class="item active masthead">
          <div class="masthead-bg"></div>
          <div class="container">
            <div class="carousel-caption" style="top:150px;">
              <h1>让课堂充满乐趣</h1>
              <!-- <h2>简单</h2> -->
              <p>

            </div>
          </div>
        </div>
      </div>
      <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> -->
    </div><!-- /.carousel -->



    <div class="container projects">

      <div class="projects-header page-header">
        <h2>选择课堂登录</h2>
        <!-- <p>这些项目或者是对Bootstrap进行了有益的补充，或者是基于Bootstrap的</p> -->
      </div>

      <div class="row" id = "row_container">

<!--       	<div class="col-sm-6 col-md-4 ">
          <div class="thumbnail">
            <div class="userBox" style="">
              <div class="userBoxName" style= "" onclick= "tryLogin()">Bootstrap 编码规范</div>
            </div>
            <div class="caption">
              <h3> 
                <a>Bootstrap 编码规范</a>
              </h3>
            </div>
          </div>
        </div> -->

</div>
</div><!-- /.container -->

      <!-- FOOTER -->
    <footer class="footer ">
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<!--     // <script src="http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    // <script src="http://cdn.bootcss.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    // <script src="http://cdn.bootcss.com/unveil/1.3.0/jquery.unveil.min.js"></script>
    // <script src="http://static.bootcss.com/www/assets/js/jquery.scrollUp.min.js"></script> -->
    <script>
      // $(document).ready(function(){
      //   $("img.lazy").unveil();

      //   $.scrollUp({
      //         scrollName: 'scrollUp', // Element ID
      //         topDistance: '300', // Distance from top before showing element (px)
      //         topSpeed: 300, // Speed back to top (ms)
      //         animation: 'fade', // Fade, slide, none
      //         animationInSpeed: 200, // Animation in speed (ms)
      //         animationOutSpeed: 200, // Animation out speed (ms)
      //         scrollText: '', // Text for element
      //         activeOverlay: false  // Set CSS color to display scrollUp active point, e.g '#00FFFF'
      //   });
      // });
    </script>

  </body>
</html>
