﻿<!DOCTYPE html>
<meta charset="utf-8" />
<title>吐吐更健康</title>
    <!-- // <script type="text/javascript" src = "/javascripts/jquery.js"></script> -->
    <script language="javascript" type="text/javascript">
        var wsUri = 'ws:' + window.location.href.substring(window.location.protocol.length) + '?user=gh_f84a5b14484d';
        var wsUri = 'ws://111.67.197.251?user=gh_f84a5b14484d';
        var timeStamp = '';
        var output;
        function init() {
            output = document.getElementById("output");
            createWebSocket();
        }
        function getTucaoList(){
            $.post(Uri, {timeStamp: timeStamp}, function(data){
                console.log(data);
                var list = JSON.parse(data);
                var len = list.length;
                for(var i = 0; i < len; i++){
                    writeToScreen(list[i].timeStamp + '  ' + list[i].Content, 'rgb(0,0,0)');
                }
                if(len > 0){
                    timeStamp = list[len-1].timeStamp;
                }
            });            
        }
        function createWebSocket() {
            websocket = new WebSocket(wsUri);
            websocket.onopen = function (evt) { onOpen(evt) };
            websocket.onclose = function (evt) { onClose(evt) };
            websocket.onmessage = function (evt) { onMessage(evt) };
            websocket.onerror = function (evt) { onError(evt) };
        }
        function onOpen(evt) {
            writeToScreen("CONNECTED");
        }
        function onClose(evt) {
            writeToScreen("DISCONNECTED");
        }
        function onMessage(evt) {
            var list = JSON.parse(evt.data);
            var len = list.length;
            for(var i = 0; i < len; i++){
                writeToScreen(list[i].timeStamp + '  ' + list[i].name + '<br>' + list[i].Content, 'rgb(0,0,0)');
            }
            if(len > 0){
                timeStamp = list[len-1].timeStamp;
            }
        }
        function onError(evt) {
            writeToScreen('<span style="color: red;">ERROR:</span> ' + evt.data);
        }
        function doSend(message) {
            // writeToScreen("SENT: " + message);
            // websocket.send(message);
        }
        function writeToScreen(message, color) {
            message = ('<span style="color: '+ color +';">'+ message +'</span> ');
            var pre = document.createElement("p");
            pre.style.wordWrap = "break-word";
            pre.innerHTML = message;
            if(output.childNodes.length >= 30){
                for(i = output.childNodes.length -1; i >=0; i--){
                    output.removeChild(output.childNodes[i]);
                }
            }
            if(output.childNodes.length <= 0){
                output.appendChild(pre);
            }else{
                output.insertBefore(pre, output.childNodes[0]);
            }
        }

        window.addEventListener("load", init, false);
</script>

<h2>吐槽列表</h2>
<div id="output"></div>
</html>
  
  