<!DOCTYPE HTML>
<html>
<head>
<title>课堂设置</title>
<meta http-equiv=Content-Type content=text/html;charset=utf-8>
</head>
<frameset rows="60,*"  frameborder="NO" border="0" framespacing="0">
	<frame src="/userManageTopIndex" noresize="noresize" frameborder="NO" name="topFrame" scrolling="no" marginwidth="0" marginheight="0" target="main" />
  <frameset cols="190,*"   id="frame"><!--  rows="560,*" -->
	<frame src="/userManageLeftIndex" name="leftFrame" noresize="noresize" marginwidth="0" marginheight="0" frameborder="0" scrolling="no" target="main" />
	<frame src="/setUserStateIndex" name="main" marginwidth="0" marginheight="0" frameborder="0" scrolling="auto" target="_self" />
  </frameset>
  </frameset>
</html>
