<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理页面</title>
<style>
	body {
		font:12px Arial, Helvetica, sans-serif;
		color: #000;
		background-color: rgb(252,252,252);
		margin: 0px;
		min-height:700px;
	}
	.menu_group_container{
		/*padding-bottom: 2px;*/
		padding-top: 2px;
		background-color: rgb(252,252,252);
		border-bottom: solid rgba(68,98,130,0.6) 2px;
		/*border-bottom: solid rgba(0,128,0,0.5) 2px;*/
		border-top: solid rgb(240,240,240) 1px;
	}
	.menu_container{
		padding-bottom: 8px;
		padding-top: 8px;
		padding-left: 64px;
		font-size: 14px;
		border-bottom: solid rgb(235,235,235) 1px;
	}
	.menu{
		text-decoration: none;
		color: rgb(110,110,110);
	}
	.menu_icon{
		float: left;
		padding-top: 8px;
		padding-left: 50px;
	}
	.menu_image{
		width:16px;
		height:16px;
	}

</style>
</head>

<body id = "bodyMenu">

	<div class="menu_group_container">
		<!-- <div class="menu_icon"> <img src="/Image/menuleft.png" class="menu_image" style=""> </div> -->
		<div class="menu_container">
			<a class="menu"  href="/userManageChangepwdIndex" target="main">修改密码</a>
		</div>
	</div>		
	<div class="menu_group_container">
		<div class="menu_container">
			<a class="menu"  href="/setSpeakerIndex" target="main">设置发言人</a>
		</div>
		<div class="menu_container">
			<a class="menu"  href="/setUserStateIndex" target="main">成员状态管理</a>
		</div>
	</div>

    <script type="text/javascript">
		// var contents = document.getElementsByClassName('content');
		// var toggles = document.getElementsByClassName('type');
	
		// var myAccordion = new fx.Accordion(
		// 	toggles, contents, {opacity: true, duration: 400}
		// );
		// myAccordion.showThisHideOpen(contents[0]);
	</script>
        </td>
  </tr>
</table>
</div>
</body>
</html>
