   .panel_container{
      margin-top: 20px;
    }
    .panel_main_text_running{
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: rgb(230,230,230);
      text-align: center;
      font-size: 25px;
      font-weight: 500;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      color: green;
    }
    .panel_main_text_warn{
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: rgb(230,230,230);
      text-align: center;
      font-size: 25px;
      font-weight: 500;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      color: rgb(241,149,8);
    }
    .panel_main_text_stopped{
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: rgb(230,230,230);
      text-align: center;
      font-size: 25px;
      font-weight: 500;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      color: rgb(232,0,0);
    }    
    .panel_sub_status_running{
      background-color: green;
      padding-top: 35px;
      padding-bottom: 40px;
      text-align: center;
      font-size: 42px;
      font-weight: 800;
      color: white;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }    
    .panel_sub_text_running{
      padding-top: 15px;
      padding-bottom: 20px;
      background-color: green;
      text-align: center;
      font-size: 13px;
      font-weight: 100;
      color: rgb(190,190,190);
    }
    .panel_sub_text_stopped{
      padding-top: 15px;
      padding-bottom: 20px;
      background-color: rgb(232,0,0);
      text-align: center;
      font-size: 13px;
      font-weight: 100;
      color: rgb(190,190,190);
    }
    .panel_sub_text_warn{
      padding-top: 15px;
      padding-bottom: 20px;
      background-color: rgb(241,149,8);
      text-align: center;
      font-size: 13px;
      font-weight: 100;
      color: rgb(190,190,190);
    }
    .panel_sub_status_stopped{
      background-color: rgb(232,0,0);
      padding-top: 35px;
      padding-bottom: 40px;
      text-align: center;
      font-size: 42px;
      font-weight: 800;
      color: white;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    .panel_sub_status_warn{
      background-color: rgb(241,149,8);
      padding-top: 35px;
      padding-bottom: 40px;
      text-align: center;
      font-size: 42px;
      font-weight: 800;
      color: white;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }    
    .panel_sub_status_split_line{
      background: rgb(235,235,235);
      height: 1px;
    }
